<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar serviço</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-item>
      <ion-select label="Veículo" labelPlacement="stacked" formControlName="vehicleId" interface="popover" placeholder="Selecione">
        @for (vehicle of vehicles(); track vehicle.id) {
          <ion-select-option [value]="vehicle.id">{{ vehicle.name }} ({{ vehicle.year }})</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-textarea label="Descrição" labelPlacement="stacked" formControlName="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-textarea label="Observação" labelPlacement="stacked" formControlName="notes" placeholder="Opcional"></ion-textarea>
    </ion-item>

    <div class="field-row">
      <ion-item class="col-grow">
        <ion-input
          label="Valor"
          labelPlacement="stacked"
          type="text"
          inputmode="decimal"
          [value]="valorDisplay()"
          (ionInput)="onValorInput($event)"
          placeholder="0,00"
        >
          <div slot="start" class="currency-prefix">R$</div>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Quilometragem"
          labelPlacement="stacked"
          type="number"
          inputmode="numeric"
          formControlName="mileage"
          placeholder="Opcional"
        ></ion-input>
      </ion-item>
    </div>

    <ion-item>
      <ion-select label="Tipo de serviço" labelPlacement="stacked" formControlName="serviceType" interface="popover" placeholder="Opcional">
        @for (type of serviceTypes; track type[0]) {
          <ion-select-option [value]="type[0]">{{ type[1] }}</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <app-attachment-picker entityType="servico_veiculo" [entityId]="servico.id" mode="edit"></app-attachment-picker>

    @if (errorMessage()) {
      <ion-text color="danger">
        <p>{{ errorMessage() }}</p>
      </ion-text>
    }

    <ion-button type="submit" expand="block" class="ion-margin-top" [disabled]="saving()">
      {{ saving() ? 'Salvando...' : 'Salvar alterações' }}
    </ion-button>
  </form>
</ion-content>
