**/.env
**/venv/
**/__pycache__/
**/*.pyc
**/*.db
**/*.db.bak-*
backend/uploads/
backend/uploads.bak-*/
backend/last_backup.txt
**/node_modules/
**/www/
**/.angular/
**/android/local.properties
**/android/**/build/
**/android/.gradle/
doc/site/
.DS_Store
Thumbs.db