<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Categorias</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [value]="priority()" (ionChange)="onPriorityChange($any($event.detail.value))">
      <ion-segment-button value="essencial">
        <ion-label>Essencial</ion-label>
      </ion-segment-button>
      <ion-segment-button value="nao_essencial">
        <ion-label>Não essencial</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for (item of items(); track item.id) {
      <ion-item-sliding #slidingItem>
        <ion-item>
          <ion-label>{{ item.name }}</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="primary" (click)="editItem(item, slidingItem)">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="deleteItem(item, slidingItem)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    } @empty {
      <ion-item>
        <ion-label color="medium">Nenhuma categoria cadastrada nessa prioridade ainda.</ion-label>
      </ion-item>
    }
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
